<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Real-Time Database Monitor</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.1.2/socket.io.js"></script>
</head>

<body>
    <div class="wrapper">
        <nav id="sidebar">
            <div class="sidebar-header">
                <h3>Menu</h3>
                <button id="sidebarToggle" class="btn btn-outline-light"><i class="fas fa-bars"></i></button>
            </div>
            <ul class="list-unstyled components">
                <li>
                    <a href="/"><i class="fas fa-server"></i> <span class="menu-text">Servers</span></a>
                </li>
                <li>
                    <a href="/dashboard"><i class="fas fa-tachometer-alt"></i> <span class="menu-text">Dashboard</span></a>
                </li>
                <li>
                    <a href="/monitor"><i class="fas fa-chart-line"></i> <span class="menu-text">Monitors</span></a>
                </li>
                <li>
                    <a href="/management"><i class="fas fa-database"></i> <span class="menu-text">Management</span></a>
                </li>
                <li>
                    <a href="{{ url_for('logout') }}"><i class="fas fa-sign-out-alt"></i> <span class="menu-text">Logout</span></a>
                </li>
            </ul>
        </nav>

        <div id="content">
            <div class="container-fluid">
                <div class="header">
                    <h1 class="text-center"><i class="fas fa-database"></i> Database Activity</h1>
                </div>
                <div class="form-group">
                    <label for="dbTypeSelect">Select Database Type:</label>
                    <select id="dbTypeSelect" class="form-control">
                        <option value="mysql">MySQL</option>
                        <option value="postgres">PostgreSQL</option>
                    </select>
                    <input type="hidden" id="currentDbType" value="mysql">
                </div>
                <div class="table-container">
                    <table class="table table-hover table-bordered">
                        <thead class="thead-dark">
                            <tr>
                                <th>Hostname</th>
                                <th>ID</th>
                                <th>User</th>
                                <th>Host</th>
                                <th>Database</th>
                                <th>Command</th>
                                <th>Process Time</th>
                                <th>State</th>
                                <th>Query Time</th>
                                <th>Executed Query</th>
                            </tr>
                        </thead>
                        <tbody id="data-list">
                            <!-- Data will be inserted here by script.js -->
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
    <script src="{{ url_for('static', filename='script.js') }}"></script>
    <script src="{{ url_for('static', filename='sidebar.js') }}"></script>
    <script src="{{ url_for('static', filename='dashboard.js') }}"></script>
</body>

</html>