Flask==2.3.3 
Werkzeug==3.0.4 
Flask-SocketIO==5.3.6 
Flask-SQLAlchemy==2.5.1 
mysql-connector-python==8.0.33 
flask-bootstrap==3.3.7.1 
psutil==7.0.0 
matplotlib==3.9.4 
seaborn==0.13.2 
tailer==0.4.1 
flask-login==0.6.3 
psycopg2-binary==2.9.9 
python-socketio==5.11.4 
gunicorn==22.0.0 
gevent==24.2.1
psycopg2-binary==2.9.1